* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    position: relative; 
    background: #F4EDED;
}

header {
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #F4EDED;
    background-color: #BA1F33;
    z-index: 5;
}

#pic{
    position: absolute;
    width: 151px;
    height: 84px;
    left: 17px;
    top: 7px;
    border-radius: 12px;
}

.sidebar {
    position: absolute;
    width: 150px;
    height: 100pc;
    left: 0px;
    top: 100px;

    background: #000000;
}

#homeLink {
    text-decoration: none;
    position: absolute;
    width: 117px;
    height: 94px;
    left: 30px;
    top: 203px;

    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #F4EDED;
}

#dateLink {
    text-decoration: none;
    position: absolute;
    width: 131px;
    height: 94px;
    left: 30px;
    top: 297px;

    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #F4EDED;
}

#waitLink {
    text-decoration: none;
    position: absolute;
    width: 94px;
    height: 94px;
    left: 30px;
    top: 420px;

    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #F4EDED;
}

main {
    display: flex; 
    justify-content: center;
}

/* The Location */

#explanation {
    background-color: #BEE9E8;
    border-radius: 12px;
    position: absolute;
    width: 1106px;
    /* height:px; */
    left: 265px;;
    top: 150px;
    /* width: 55pc;
    height: 7pc;
    left: 15pc;
    top: 1pc; */

    padding: 30px;
    padding-right: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    
    
}

#locations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.destination-cover {
    width: 320px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.destination-card {
    background-color: #BEE9E8;
    width: 320px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20pc;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.destination-title {
    font-size: 18px;
    margin: 5px 0;
}

form {
    background-color: #BA1F33;
    
    position: absolute;
    width: 200px;
    height: 157px;
    /* left: 1000px; */
    right: 190px;
    top: 140px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: #BEE9E8;
}

button {
    background-color: #232323;
    width: 75px;
    height: 25px;
    color: #BEE9E8;
    border: none;
    margin: 5px;
    border-radius: 8px;
    
}

#addBtn {
    background-color: #232323;
    width: 130px;
    height: 25px;
    color: #BEE9E8;
    border: none;
    margin: 5px;
}

/* The Waitlist */

#dates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.date-cover {
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.date-card {
    background-color: #BEE9E8;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20pc;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.date-name {
    font-size: 18px;
    margin: 5px 0;
}